@tailwind base;
@tailwind components;
@tailwind utilities;


.openRepo {
    background-color: #4800ff;
    color:white;
}
.openRepo:hover {
    background-color: #4800ff;
    -webkit-box-shadow:0px 0px 105px 5px rgba(72,0,255,0.9);
-moz-box-shadow: 0px 0px 105px 5px rgba(72,0,255,0.9);
box-shadow: 0px 0px 105px 5px rgba(72,0,255,0.9);
}